<div
    class="max-w-[1120px] 2xl:max-w-[1350px] w-full flex flex-col gap-div_sm_gap my-div_sm_gap lg:gap-div_lg_gap lg:my-div_lg_gap mx-auto"
>
    <!-- first section -->
    <div class="flex flex-col lg:flex-row w-full">
        <div class="w-full items-center lg:w-1/2 flex mb-10">
            <img
                src={"/src/assets/home/driven.jpg"}
                alt={"test_image"}
                class="h-[385px] md:h-[490px] 2xl:h-[550px] w-full lg:w-[85%] object-cover rounded-3xl"
            />
        </div>
        <div class="w-full lg:w-1/2 flex flex-col justify-center">
            <p class="text-primary font-handwriting font-medium text-xl md:mb-4">
                Always for children
            </p>

            <!-- Main heading -->
            <h2
                class="text-4xl md:text-5xl font-nunito font-medium text-heading leading-tight mb-4 md:mb-6"
            >
                Helping Each Other Can <br />
                Make the World Better
            </h2>

            <!-- Description -->
            <p class="text-paragraph font-thin leading-relaxed mb-6">
                We work alongside communities to address the most pressing
                challenges faced by children and families. Our approach goes
                beyond temporary aid — we focus on sustainable solutions that
                create long-term change.
            </p>

            <p class="text-paragraph font-thin leading-relaxed mb-6">
                From education and healthcare to nutrition and protection, every
                initiative is designed to restore dignity, build resilience, and
                create opportunities for a better future.
            </p>
        </div>
    </div>
</div>
