---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/about/Banner.astro";
import Need from "../components/about/Need.astro";
import Overall from "../components/about/Overall.astro";
import CoreValue from "../components/about/CoreValue.astro";
---

<Layout>
    <!-- overall container -->
    <main class="w-full">
        <Banner />
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Overall />
            <CoreValue />
            <Need />
        </div>
    </main>
</Layout>
