---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <!-- overall container -->
    <main class="w-full">
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
           contact page
        </div>
    </main>
</Layout>