---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/home/Banner.astro";
import Need from "../components/home/Need.astro";
import Driven from "../components/home/Driven.astro";
---

<Layout>
    <Banner />
    <!-- overall container -->
    <main class="w-full">
        <div
            class=" w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Driven />
            <Need />
        </div>
    </main>
</Layout>
