---
// export const prerender = false; // ensure SSR (important)

import Layout from "../layouts/Layout.astro";
import Banner from "../components/resource/Banner.astro";
import Lists from "../components/resource/Lists.astro";

// Disable caching for this page
// Astro.response.headers.set(
//   "Cache-Control",
//   "no-store, no-cache, must-revalidate, proxy-revalidate"
// );
// Astro.response.headers.set("Pragma", "no-cache");
// Astro.response.headers.set("Expires", "0");

import { fetchPageBySlug } from "../lib/getPageData";
import { extractResSections } from "../lib/extract/extractResource";
import { load } from "cheerio";

const page = await fetchPageBySlug("resources");
const $ = load(page.content);
const { bannerContent } = extractResSections($);
---

<Layout>
    <Banner bannerContent={bannerContent} />
    <!-- overall container -->
    <main class="w-full">
        <div
            class="w-[92%] sm:w-[90%] md:w-[92%] xl:max-w-[1300px] 2xl:max-w-[1600px] mx-auto"
        >
            <Lists />
        </div>
    </main>
</Layout>
