<div
    class="w-full h-[650px] 2xl:h-[770px] bg-cover bg-center flex items-center justify-center md:justify-start p-6 lg:p-28 text-white relative"
    style="background-image: url('/src/assets/banner.jpg')"
>
    <!-- Gradient Overlay -->
    <div class="absolute inset-0 bg-gradient-to-r from-black/80 to-transparent z-10"></div>

    <!-- Text Content -->
    <div class="w-fit md:max-w-xl flex flex-col gap-4 relative z-20">
        <h1 class="font-handwriting text-xl md:text-2xl text-secondary">Always donate for children</h1>
        <p class="text-5xl md:text-7xl font-nunito">Lend a Helping Hand to Those in Need</p>
        <div class="bg-secondary text-heading py-3 w-fit px-6 cursor-pointer font-medium rounded-full">Discover More</div>
    </div>
</div>