<div class="max-w-[1120px] 2xl:max-w-[1350px] w-full mx-auto">
    <div class="flex w-full">
        <div class="w-full items-center lg:w-1/2 flex">
            <img
                src={"/src/assets/home/driven.jpg"}
                alt={"test_image"}
                class="h-[490px] 2xl:h-[550px] w-[85%] object-cover rounded-3xl"
            />
        </div>
        <div class="w-full lg:w-1/2 flex flex-col justify-center">
            <p class="text-primary font-handwriting text-lg mb-4">
                Who we are
            </p>

            <!-- Main heading -->
            <h2
                class="text-4xl md:text-5xl font-nunito font-medium text-heading leading-tight mb-6"
            >
                Driven by Compassion.<br />
                Guided by Purpose.
            </h2>

            <!-- Description -->
            <p class="text-paragraph font-thin leading-relaxed mb-6">
                We believe real change begins at the community level. Through
                education programs, healthcare initiatives, and emergency
                relief, we empower vulnerable individuals to build independent
                and dignified lives. Our focus is not just short-term help — but
                long-term transformation through trust, transparency, and
                impact.
            </p>

            <!-- Highlight stats -->
            <div
                class="flex gap-4 items-start border-l-4 border-primary pl-4 mb-8"
            >
                <p class="text-paragraph text-lg font-medium">
                    Helped fund
                    <span class="text-primary font-semibold">24,537</span>
                    Projects in
                    <span class="text-primary font-semibold">24</span>
                    Countries, Benefiting over
                    <span class="text-primary font-semibold">8.2</span>
                    Million people.
                </p>
            </div>

            <!-- Button -->
            <button
                class="bg-secondary text-heading font-medium px-8 py-3 w-fit rounded-full transition"
            >
                Learn Our Story
            </button>
        </div>
    </div>
</div>
