---
const bgImage = "/src/assets/home/school.jpg";
---

<div
    class="w-full flex flex-col
         my-div_sm_gap lg:my-div_lg_gap
         gap-div_sm_gap lg:gap-div_lg_gap
         mx-auto"
>
    <!-- first section -->
    <div
        class="max-w-[1125px] 2xl:max-w-6xl w-full flex flex-col lg:flex-row gap-12 2xl:gap-14 mx-auto"
    >
        <!-- first card -->

        <div
            class="md:h-[495px] w-full lg:w-1/2 bg-heading rounded-3xl p-8 md:p-14 flex flex-col justify-center"
        >
            <div
                class="flex flex-col md:flex-row items-start md:items-center gap-6 mb-4 md:mb-6"
            >
                <div class="bg-primary p-4 rounded-full">
                    <img
                        src={"/src/assets/home/hand.png"}
                        alt={"profile"}
                        class="w-full h-full object-cover"
                    />
                </div>
                <h2
                    class="text-2xl font-nunito md:text-2xl font-bold text-white leading-tight"
                >
                    Be the Reason <br /> Someone Smiles Today
                </h2>
            </div>

            <p
                class="font-handwriting text-gray-300 text-lg md:text-xl leading-relaxed mb-6 italic"
            >
                Volunteers are the heart of our organization. Whether on the
                ground or online, your time and skills can change lives in
                powerful ways.
            </p>

            <ul class="space-y-4 mb-10">
                <li class="flex items-center gap-3 text-white/90">
                    <div class="bg-white rounded-full p-1">
                        <svg
                            class="w-3 h-3 text-[#1B2626]"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            ><path
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            ></path></svg
                        >
                    </div>
                    <span>Make a meaningful social impact</span>
                </li>
                <li class="flex items-center gap-3 text-white/90">
                    <div class="bg-white rounded-full p-1">
                        <svg
                            class="w-3 h-3 text-[#1B2626]"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            ><path
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            ></path></svg
                        >
                    </div>
                    <span>Learn and grow through real experiences</span>
                </li>
                <li class="flex items-center gap-3 text-white/90">
                    <div class="bg-white rounded-full p-1">
                        <svg
                            class="w-3 h-3 text-[#1B2626]"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            ><path
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            ></path></svg
                        >
                    </div>
                    <span>Join a passionate community of changemakers</span>
                </li>
            </ul>

            <button
                class="w-fit border border-yellow-400/50 hover:bg-yellow-400 hover:text-[#1B2626] text-white font-bold py-3 px-8 rounded-full transition-all duration-300"
            >
                Become a Volunteer
            </button>
        </div>

        <!-- second section -->
        <div
            class="md:h-[495px] w-full lg:w-1/2 bg-heading rounded-3xl p-8 md:p-14 flex flex-col justify-center"
        >
            <div
                class="flex flex-col md:flex-row items-start md:items-center gap-6 mb-4 md:mb-6"
            >
                <div class="bg-secondary p-4 rounded-full">
                    <img
                        src={"/src/assets/home/box.png"}
                        alt={"profile"}
                        class="w-full h-full object-cover"
                    />
                </div>
                <h2
                    class="text-2xl font-nunito md:text-2xl font-bold text-white leading-tight"
                >
                    Be the Reason <br /> Someone Smiles Today
                </h2>
            </div>

            <p
                class="font-handwriting text-gray-300 text-lg md:text-xl leading-relaxed mb-6 italic"
            >
                Volunteers are the heart of our organization. Whether on the
                ground or online, your time and skills can change lives in
                powerful ways.
            </p>

            <ul class="space-y-4 mb-10">
                <li class="flex items-center gap-3 text-white/90">
                    <div class="bg-white rounded-full p-1">
                        <svg
                            class="w-3 h-3 text-[#1B2626]"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            ><path
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            ></path></svg
                        >
                    </div>
                    <span>Secure and trusted donations</span>
                </li>
                <li class="flex items-center gap-3 text-white/90">
                    <div class="bg-white rounded-full p-1">
                        <svg
                            class="w-3 h-3 text-[#1B2626]"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            ><path
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            ></path></svg
                        >
                    </div>
                    <span>Real impact, real stories</span>
                </li>
                <li class="flex items-center gap-3 text-white/90">
                    <div class="bg-white rounded-full p-1">
                        <svg
                            class="w-3 h-3 text-[#1B2626]"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            ><path
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            ></path></svg
                        >
                    </div>
                    <span>Regular updates on fund usage</span>
                </li>
            </ul>

            <button
                class="w-fit border border-yellow-400/50 hover:bg-yellow-400 hover:text-[#1B2626] text-white font-bold py-3 px-8 rounded-full transition-all duration-300"
            >
                Know More
            </button>
        </div>
    </div>

    <!-- second section -->
    <div
        class="relative max-w-[1260px] 2xl:max-w-[90%] lg:h-[410px] w-full mx-auto rounded-3xl overflow-hidden"
    >
        <!-- Background image (lowest layer) -->
        <div
            class="absolute inset-0 bg-cover bg-top
             transition-transform duration-700
             z-0"
            style={`background-image: url('${bgImage}');`}
        >
        </div>

        <!-- Color overlay with opacity -->
        <div
            class="absolute inset-0 bg-[#00715D]/[0.83] md:bg-[#00715D]/[0.93] z-10"
        >
        </div>

        <!-- Content (top layer) -->
        <div
            class="relative z-20 h-full flex flex-col justify-center
         px-6 sm:px-10 lg:px-16"
        >
            <div
                class="max-w-[840px] 2xl:max-w-4xl my-div_sm_gap w-full flex flex-col lg:flex-row lg:gap-24 mx-auto items-start lg:items-center justify-center"
            >
                <!-- Small handwritten text -->
                <div>
                    <p
                        class="text-secondary font-handwriting text-lg lg:text-xl mb-3"
                    >
                        Immediate support needed
                    </p>

                    <!-- Main heading -->
                    <h1
                        class="text-3xl lg:text-5xl font-nunito text-white font-bold leading-tight mb-4"
                    >
                        Help Us Fight<br />
                        Hunger Today
                    </h1>

                    <!-- Description -->
                    <p
                        class="text-base max-w-xl text-white/90 leading-relaxed mb-8"
                    >
                        Thousands of families struggle for daily meals. Your
                        immediate support helps us deliver food kits and
                        nutrition programs to those facing hunger.
                    </p>
                </div>
                <!-- Button -->
                <div
                    class="bg-secondary text-heading py-3 w-fit h-fit px-6 cursor-pointer font-medium rounded-full"
                >
                    Donate now
                </div>
            </div>
        </div>
    </div>
</div>
