<div
    class="max-w-[950px] bg-card w-full flex flex-col
         my-div_sm_gap lg:my-div_lg_gap rounded-[30px]
         gap-div_sm_gap lg:gap-div_lg_gap
         mx-auto"
>
    <div class="w-full h-[725px]"></div>
</div>
