<div
    class="w-full
            h-[240px] sm:h-[360px] md:h-[460px] lg:h-[560px] 2xl:h-[600px]"
>
    <img
        src="/src/assets/contact/map.png"
        alt="Map"
        class="w-full h-full object-cover"
    />
</div>
