<div>
    <div
        class="bg-primary hidden text-white px-16 py-2 md:flex justify-between items-center text-sm font-light"
    >
        <div class="flex items-center space-x-5 mb-2 md:mb-0">
            <a href="#" class="hover:opacity-80"
                ><i class="fab fa-facebook-f text-lg"></i></a
            >
            <a href="#" class="hover:opacity-80"
                ><i class="fab fa-instagram text-lg"></i></a
            >
            <a href="#" class="hover:opacity-80"
                ><i class="fab fa-x-twitter text-lg"></i></a
            >
            <a href="#" class="hover:opacity-80"
                ><i class="fab fa-whatsapp text-lg"></i></a
            >
        </div>

        <div class="flex items-center space-x-6">
            <a
                href="mailto:hello@yourngo.org"
                class="flex items-center space-x-2 hover:underline"
            >
                <i class="far fa-envelope"></i>
                <span>hello@yourngo.org</span>
            </a>
            <div class="flex items-center space-x-2">
                <i class="fas fa-phone-alt"></i>
                <span>+91 2262 222 266</span>
            </div>
        </div>
    </div>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <nav class="bg-white px-4 md:px-16 py-8 w-full flex justify-between items-center">
        <div>
            <img src="/src/assets/logo.png" alt="Logo" class="h-8 lg:h-12 w-auto" />
        </div>
        <div>
            <img src="/src/assets/hamburger.png" alt="Logo" class="h-4 lg:hidden w-auto" />
        </div>
        <div class="hidden lg:flex items-center gap-6">
            <ul class="flex text-sm lg:text-base gap-6">
                <li class="cursor-pointer">About us</li>
                <li class="cursor-pointer">What We Do</li>
                <li class="cursor-pointer">Get Involved</li>
                <li class="cursor-pointer">Impact</li>
                <li class="cursor-pointer">Resources</li>
                <li class="cursor-pointer">Contact Us</li>
            </ul>
            <div class="bg-secondary py-3 px-6 cursor-pointer font-medium rounded-full">Donate Now</div>
        </div>
    </nav>
</div>
